In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from IPython.display import display

In [2]:
data = pd.read_csv('dataset/data.csv',encoding="ISO-8859-1")
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [4]:
def data_info(data):
    print('Dataframe dimensions:', data.shape)
    tab_info=pd.DataFrame(data.dtypes).T.rename(index={0:'column type'})
    tab_info =pd.concat([tab_info,pd.DataFrame(data.isnull().sum()).T.rename(index={0:'null values (nb)'})])
    tab_info=pd.concat([tab_info,pd.DataFrame(data.isnull().sum()/data.shape[0]*100).T.rename(index={0:'null values (%)'})])
    display(tab_info)

In [5]:
data_info(data)

Dataframe dimensions: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
column type,object,object,object,int64,datetime64[ns],float64,float64,object
null values (nb),0,0,1454,0,0,0,135080,0
null values (%),0.0,0.0,0.268311,0.0,0.0,0.0,24.926694,0.0

In [6]:
data.dropna(axis = 0, subset = ['CustomerID'], inplace = True)

In [7]:
data_info(data)

Dataframe dimensions: (406829, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
column type,object,object,object,int64,datetime64[ns],float64,float64,object
null values (nb),0,0,0,0,0,0,0,0
null values (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
data.to_csv('dataset/data_prepared.csv',index=False)